<ion-header>
  <ion-navbar>
    <ion-title>{{ editMode ? 'Edit aliment' : 'Add new aliment' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        Fill the following fields:
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Aliment</ion-label>
          <ion-input type="text" [(ngModel)]="alimentName" autofocus required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Quantity</ion-label>
          <ion-input type="text" [(ngModel)]="quantity"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Do you want to specify a market?</ion-label>
          <ion-select [(ngModel)]="selectedMarketId">
            <ion-option value="{{ m.name }}" *ngFor="let m of markets">{{ m.name }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="stick-footer">
  <ion-toolbar>
    <button ion-button full color="primary" (click)="addAliment()">
      {{ editMode ? 'Modify' : 'Create' }}
    </button>
    <button ion-button full color="primary" *ngIf="!editMode" (click)="addAndReopen()">Adds one more</button>
    <button ion-button full color="danger" (click)="cancel()">Cancel</button>
  </ion-toolbar>
</ion-footer>
