<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your current lists</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="shoppingLists?.length > 0">
      <ion-col>
        <h1>These are your lists...</h1>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="shoppingLists?.length === 0">
      <ion-col>
        <h1>There is no lists yet!</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let list of (shoppingLists$ | async)">
    <ion-card-header>
      <h2><strong>{{ list.name }}</strong></h2>
    </ion-card-header>
    <ion-card-content>
      <!-- Aliments counter -->
      <ion-row>
        <ng-container *ngIf="list.aliments.length; then showCounter; else showEmptyList"></ng-container>
        <ng-template #showCounter>
          <p>Current state: {{ list.alimentsChecked }}/{{ list.aliments.length }}</p>
          <!-- Mejor una barra de progreso??? -->
          <ion-range [(ngModel)]="list.alimentsChecked" min="0" [max]="list.aliments.length" disabled style="width: 100%">
            <ion-label range-left>0</ion-label>
            <ion-label range-right>{{ list.aliments.length }}</ion-label>
          </ion-range>
        </ng-template>
        <ng-template #showEmptyList>
          <p>Current state: Empty list</p>
        </ng-template>
      </ion-row>

      <!-- Card footer -->
      <ion-row>
        <ion-col text-start *ngIf="isSharedList(list)">
          <i class="fa fa-share-alt-square fa-3x" aria-hidden="true"></i>
        </ion-col>
        <ion-col text-end>
          <button ion-button icon-left clear (click)="openShoppingList(list.id)">
            <ion-icon name="open"></ion-icon>
            <div>Open list</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addShoppingList()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
