<ion-header>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your current lists</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let list of (shoppingLists$ | async)">
    <ion-card-header>
      <ion-row>
        <ion-col text-start>
          <h2><strong>{{ list.name }}</strong></h2>
        </ion-col>
        <ion-col text-end *ngIf="getNumberOfUserShared(list) > 1">
          <i class="fa fa-users" aria-hidden="true"></i> {{ getNumberOfUserShared(list) }}
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <!-- Aliments counter -->
      <ion-row>
        <ng-container *ngIf="list.aliments.length; then showCounter; else showEmptyList"></ng-container>
        <ng-template #showCounter>
          <p>Articles: {{ list.checked }}/{{ list.aliments.length }}</p>
          <!-- Mejor una barra de progreso??? -->
          <ion-range [(ngModel)]="list.checked" min="0" [max]="list.aliments.length" disabled style="width: 100%">
            <ion-label range-left>0</ion-label>
            <ion-label range-right>{{ list.aliments.length }}</ion-label>
          </ion-range>
        </ng-template>
        <ng-template #showEmptyList>
          <p>Current state: Empty list</p>
        </ng-template>
      </ion-row>

      <!-- Card footer -->
      <ion-row>
        <ion-col text-start>
          <button ion-button icon-left clear (click)="editShoppingList(list)">
            <ion-icon name="brush"></ion-icon>
            <div>Edit list</div>
          </button>
        </ion-col>
        <ion-col text-end>
          <button ion-button icon-left clear (click)="openShoppingList(list.id)">
            <ion-icon name="open"></ion-icon>
            <div>Open list</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addShoppingList()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
