page-shopping-aliment-list {
    .aliment-border-item {
        width: 100%;
        &.ion-item {
            width: 100%;
        }
    }
    .aliment-border-item ion-label {
        border-left: 2px solid;
        padding-left: 10px;
        width: 100%;
    }
}
