page-shopping-aliment-list {
    .aliment-border-item {
        width: 100%;
        &.ion-item {
            width: 100%;
        }
    }
    .aliment-border-item ion-label {
        border-left: 2px solid;
        padding-left: 10px;
        width: 100%;
    }

    ion-slide.swiper-slide {
        left: 25%;
    }
    
    /*.slide-zoom {
        background: #e6e6e6;
    }*/
 
    .attachment-img {
        padding: 10px;
    }
}
