<ion-header>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{ shoppingList?.name }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="shareList()">
        <ion-icon name="share"></ion-icon>
      </button>
      <button ion-button icon-only (click)="applyFilter($event)">
        <ion-icon name="funnel"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showMoreOptions($event)">
        <!--<ion-icon name="more"></ion-icon>-->
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Grocery List</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item-sliding #slidingItem
              *ngFor="let aliment of (shoppingList?.aliments | sortAliments:filterCriteria)"
              (ionSwipe)="deleteAlimentItem(slidingItem, aliment)">
            <ion-item class="aliment-border-item">
              <ion-label [style.border-left-color]="getMarketColor(aliment?.market)">
                <h2>{{ aliment?.name }}</h2>
                <p *ngIf="aliment?.quantity">Quantity: {{ aliment?.quantity }}</p>
              </ion-label>
              <ion-checkbox color="dark" 
                [checked]="aliment?.checked" 
                [(ngModel)]="aliment.checked"
                (ionChange)="updateCheckedAlimentList(aliment)">
              </ion-checkbox>
            </ion-item>
      
            <!-- Right buttons -->
            <ion-item-options side="right">
              <button ion-button color="primary" (click)="editAlimentItem(aliment)">
                <ion-icon name="create"></ion-icon>
                  Edit
                </button>
                <button ion-button expandable color="secondary" (click)="deleteAlimentItem(slidingItem, aliment)">
                  <ion-icon name="trash"></ion-icon>
                  Delete
                </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="shoppingList?.attachments?.length > 0">
      <ion-col>
        <!--<h3>Attached invoices ({{ shoppingList?.attachments?.length }})</h3>-->
        <!--<ion-slides class="image-slider" loop="true" slidesPerView="2">
          <ion-slide *ngFor="let attachment of shoppingList?.attachments">
            <img [src]="attachment" class="attachment-img" width="300" imageViewer />
          </ion-slide>
        </ion-slides>-->
        <!--<ion-list>
          <ion-item class="listItem" *ngFor="let attachment of shoppingList?.attachments" >
            <ion-thumbnail item-left>
              <img [src]="attachment.url" imageViewer>
            </ion-thumbnail>
            <h3>{{ attachment.name }}</h3>
            <p>Size: {{ attachment.size | fileSize:'kb' }} Kb</p>
            <p>Uploaded: {{ attachment.ts | date:'medium' }}</p>
          </ion-item>
        </ion-list>-->
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab right bottom #fabButtons>
    <button ion-fab><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="openModalToAddAliment(fabButtons)">
        <i class="fa fa-list"></i>
      </button>
      <button ion-fab (click)="takePicture(fabButtons)">
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-fab (click)="dispatchEventToUploadFile(fabButtons, fileBrowserUploader)">
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<input id="xxx" #fileBrowserUploader 
  type="file" 
  style="display:none" 
  (change)="onInputFileChange($event, fileBrowserUploader.files)" hidden />
