<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{ shoppingList?.name }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="shareList()">
        <ion-icon name="share"></ion-icon>
      </button>
      <button ion-button icon-only (click)="applyFilter($event)">
        <ion-icon name="funnel"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showMoreOptions($event)">
        <!--<ion-icon name="more"></ion-icon>-->
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Pending</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item-sliding #slidingItem
              *ngFor="let aliment of shoppingList?.aliments | sortAliments"
              (ionSwipe)="deleteAlimentItem(slidingItem, aliment)">
            <ion-item class="aliment-border-item" [style.border-left-color]="getMarketColor(aliment?.market)">
              <ion-label>
                <h2>{{ aliment?.name }}</h2>
                <p>Quantity: {{ aliment?.quantity }}</p>
              </ion-label>
              <ion-checkbox color="dark" 
                [checked]="aliment?.checked" 
                [(ngModel)]="aliment.checked"
                (ionChange)="updateCheckedAlimentList(aliment)">
              </ion-checkbox>
            </ion-item>
      
            <!-- Right buttons -->
            <ion-item-options side="right">
              <button ion-button color="primary" (click)="editAlimentItem(aliment)">
                <ion-icon name="create"></ion-icon>
                  Edit
                </button>
                <button ion-button expandable color="secondary" (click)="deleteAlimentItem(slidingItem, aliment)">
                  <ion-icon name="trash"></ion-icon>
                  Delete
                </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Already taken</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-list>
        <ion-item-sliding *ngFor="let aliment of takenAliments">
          <ion-item class="aliment-border-item" [style.border-left-color]="aliment?.market.color">
            <ion-label>
              <h2>{{ aliment?.name }}</h2>
              <p>Quantity: {{ aliment?.quantity }}</p>
            </ion-label>
            <ion-checkbox color="dark" checked="true" (ionChange)="updateTakenAlimentList(aliment)">
            </ion-checkbox>
          </ion-item>
    
          <!-- Right buttons -->
          <!--<ion-item-options side="right">
            <button ion-button color="primary" (click)="editAlimentItem(aliment)">
              <ion-icon name="create"></ion-icon>
                Edit
              </button>
              <button ion-button color="secondary" (click)="deleteAlimentItem(aliment)">
                <ion-icon name="trash"></ion-icon>
                Delete
              </button>
          </ion-item-options>-->
        </ion-item-sliding>
      </ion-list>
    </ion-row>
  </ion-grid>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="openModalToAddAliment()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
