<ion-split-pane>
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar transparent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <!-- Avatar -->
        <ion-item text-center class="md-background" *ngIf="userLogged">
          <ion-avatar text-center>
            <img class="avatar-menu" [src]="userData?.photoURL" />
          </ion-avatar>
          <h2>{{ userData?.displayName }}</h2>
          <p style="color: white">{{ userData?.email }}</p>
        </ion-item>

        <!-- Login -->
        <ion-item class="link-pointer" menuClose tappable *ngIf="!userLogged" (click)="login()">
          <ion-icon name="log-in" item-start></ion-icon> Login
        </ion-item>

        <!-- Set home view -->
        <ion-item class="link-pointer" menuClose tappable *ngIf="userLogged" (click)="setHomePage()">
          <ion-icon name="home" item-start></ion-icon> Home
        </ion-item>

        <!-- Menu entries -->
        <div *ngFor="let p of pages">
          <ion-item class="link-pointer" menuClose tappable *ngIf="userLogged" (click)="openPage(p)">
            <ion-icon name="{{ p.icon }}" item-start></ion-icon> {{ p.title }}
          </ion-item>
        </div>

        <!-- Logout -->
        <ion-item class="link-pointer" menuClose tappable *ngIf="userLogged" (click)="logout()">
          <ion-icon name="log-out" item-start></ion-icon> Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
</ion-split-pane>