<ion-split-pane>
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <!-- Login -->
        <ion-item class="link-pointer" menuClose tappable *ngIf="!userLogged" (click)="login()">
          <ion-icon name="log-in" item-start></ion-icon> Login
        </ion-item>

        <!-- Menu entries -->
        <div *ngFor="let p of pages">
          <ion-item class="link-pointer" menuClose tappable *ngIf="userLogged" (click)="openPage(p)">
            <ion-icon name="{{ p.icon }}" item-start></ion-icon> {{ p.title }}
          </ion-item>
        </div>

        <!-- About section -->
        <ion-item class="link-pointer" menuClose tappable (click)="openAboutPage()">
          <ion-icon name="information-circle" item-start></ion-icon> About
        </ion-item>

        <!-- Logout -->
        <ion-item class="link-pointer" menuClose tappable *ngIf="userLogged" (click)="logout()">
          <ion-icon name="log-out" item-start></ion-icon> Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
</ion-split-pane>