page-add-market {
    .col-selected-color {
        cursor: pointer;
        margin-top: 14px;
        margin-bottom: 14px;
    }

    .item-md, .item-ios, .item-wp {
        background-color: transparent;
        color: white;
    }
}
